#root {
  display: flex;
}
div[data-amplify-authenticator] {
  margin: 10vh auto;
}
.App {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

.main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.scroll-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.scroll-list {
  overflow: auto;
  flex-grow: 1;
}

.right-section {
  display: flex;
  flex-grow: 1;
}

/* Fix that stupid create-react-app iframe overlay thing */
body > iframe {
  pointer-events: none;
}

/* Amplify */
[data-amplify-authenticator] {
  --amplify-components-button-primary-color: white;
  --amplify-components-button-primary-background-color: #0F59BA;
  --amplify-components-button-primary-hover-background-color: #0F59BA;

  --amplify-components-authenticator-form-padding: 1em 0;
  --amplify-components-authenticator-router-border-width: 0;
  --amplify-components-authenticator-router-box-shadow: none;
  --amplify-components-authenticator-container-width-max: 400px;
  --amplify-components-fieldset-gap: 50px;
}

[data-amplify-authenticator] [data-amplify-footer] {
  text-align: left !important;
}

